* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    /* font-family: serif; */
}

img {
    display: block;
}

ul {
    list-style-type: none;
    margin-block: 0;
    padding-left: 0;
}

a {
    text-decoration-line: none;
}

.container {
    width: 1240px;
    margin-inline: auto;
    padding-inline: 20px;
}

.site-header {
    padding-block: 61px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    gap: 33px;
}

.navbar-link {
    color: #7D7987;
    transition: 0.3s linear;
}

.navbar-link:hover {
    color: #000;
}


.site-main {
    
}

.intro {
    padding-top: 84px;
    padding-bottom: 190px;
}

.intro-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-texts {
    width: 445px;
}

.intro-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    margin-block: 0;
}

.intro-desc {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #7D7987;
    margin-block: 25px 45px;
}

.intro-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0%;
    background-color: #458FF6;
    color: #fff;
    padding-inline: 40px;
    padding-block: 15px;
    border-radius: 55px;
    border: 2px solid #458FF6;
    transition: 0.3s linear;
}

.intro-link:hover {
    background-color: #fff;
    color: #458FF6;
}


.service {
    background-image: url("./bgimg.svg");
    background-repeat: no-repeat;
    background-position: -4px 131px;
}

.service-texts {
    width: 952px;
    margin-inline: auto;
}

.service-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
}

.service-desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 37px;
}

.service-item {
    width: 350px;
    background-color: #fff;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    padding-top: 54px;
    padding-right: 45px;
    padding-bottom: 47px;
    padding-left: 39px;
    border-radius: 20px;
}

.service-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0%;
    margin-top: 22px;
    margin-bottom: 5px;
}

.service-list-desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #7D7987;
    margin: 0;
}

.service-link {
    color: #458FF6;
    border: 1.4px solid #458FF6;
    padding: 15px 51px;
    border-radius: 20px;
    margin-top: 69px;
    display: block;
    width: max-content;
    transition: 0.3s linear;
    margin-inline: auto;
}

.service-link:hover {
    background-color: #458FF6;
    color: #fff;
}

.health {
    padding-bottom: 229px;
}

.health-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service {
    padding-bottom: 220px;
}

.health-data {
    width: 486px;
    
}

.health-link {
    display: inline;
}

.app-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.app-data {
    width: 486px;
    
}

.app-link {
    display: inline;
}